form {
    .inputs__thirdpage {
        display: flex;
        justify-content: space-around;
    }
    .actions__thirdpage{
        padding: 20px 20px;
        display: flex;
        justify-content: space-around;
    }
}