form {
  .inputs__secondpage {
    display: flex;
  }
  .actions__secondpage {
        padding: 20px 20px;
        padding-bottom: 0px;
        display: flex;
        justify-content: flex-end;
  }
}
