.backward__button {
  button {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    background-color: #06a0e3;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    padding-right: 10px;
    border: none;
    color: white;
    text-transform: uppercase;
    line-height: 22px;
    padding: 0.75rem;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 12px;
    text-align: center;
    cursor: pointer;

    span {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #06a0e3;
      left: 0;
      top: 0;
      height: 40px;
      width: 40px;
      border-radius: 20px;

      svg {
        height: 15px;
        width: 15px;
        transform: rotate(180deg);
        path {
          transition: 0.3s ease-in-out all;
          fill: white !important;
        }
      }
    }
  }
}
