.container__footer {
	height: 30%;
	background: #364248;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: fixed;
	width: 100%;
	bottom: 0;
	@media (max-width: 1200px) {
		height: 55px;
	}
	@media (max-width: 470px) {
		position: relative;
	}
	.logo {
		margin-right: 10px;
		path {
			fill: white;
		}
	}
}
