.register__art {
  display: flex;
  justify-content: space-around;
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 90px;
  }
  h2 {
    font-size: 24px;
    letter-spacing: 2.5px;
    font-weight: 900;
    line-height: 30px;
    color: #06a0e3;
  }
  p {
    max-width: 50%;
    font-weight: 400;
    font-size: 14px;
    color: #939a9c;
    line-height: 19px;
  }
  .resgister__fleet {
    margin-top: 20px;
  }

  /* ----------- iPhone 6+, 7+ and 8+ ans X----------- */
  /* Portrait and Landscape */
  @media only screen and (min-width: 375px) and (max-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    display: block;
    & > div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 20px;
      padding-left: 0; // Precisa disso ? Quando eu tiro atrapalha
    }
    .resgister__fleet {
      img {
        width: -webkit-fill-available;
      }
    }
  }

  /* ----------- iPhone 6, 6S, 7 and 8 ----------- */
  /* Portrait and Landscape */
  @media only screen and (min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    display: block;
    & > div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-left: 0;
      padding-top: 20px;
    }
    .resgister__fleet {
      img {
        width: -webkit-fill-available;
      }
    }
  }

  /* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
  /* Portrait and Landscape */
  @media only screen and (min-width: 320px) and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    display: block;
    & > div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-left: 0;
      padding-top: 20px;
    }
    .resgister__fleet {
      img {
        width: -webkit-fill-available;
      }
    }
  }
}

.register__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  width: 600px;
  left: 20px;
  height: 240px;
  
  /* ----------- iPhone 6+, 7+ and 8+ ans X----------- */
  /* Portrait and Landscape */
  @media only screen and (min-width: 375px) and (max-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    width: 90%;
    position: relative;
    height: fit-content; //Precisar declarar isso Junio?
  }

  /* ----------- iPhone 6, 6S, 7 and 8 ----------- */
  /* Portrait and Landscape */
  @media only screen and (min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    width: 90%;
    position: relative;
    height: fit-content; //Precisar declarar isso Junio?
  }

  /* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
  /* Portrait and Landscape */
  @media only screen and (min-width: 320px) and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    width: 81%;
    position: relative;
    height: fit-content; //Precisar declarar isso Junio?
  }
}
